<div class="vendor-show">
  <h1 class="vendor-name"><%= @vendor.name %></h1>
  <p class="contact-info">Contact Info:</p>
  <p class="vendor-contact-name">name: <%= @vendor.contact_name %></p>
  <p class="vendor-phone">phone: <%= @vendor.contact_phone %></p>
  <p class="accepts-credit">Credit Accepted?: <%= @vendor.credit_accepted ? "Yes" : "No" %></p>
  <p class="description">Description: <%= @vendor.description %></p>
</div>